
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
}

nav{
    background-color: black;
    height: 80px;
    width: 100%;
    padding:10px 40px;
    display: inline-block;
}

 ul li a{ 
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
    
    }
    ul li{
         margin:0 8px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 10px;
  
     
    }
     ul{
      float:right;
      margin-right: 80px;
      margin-top: -60px;
    
      
    }
    
 ul li a::after{ 
        content: '';
        width: 0%;
        height: 3px;
        background: rgb(243, 8, 8);
        position: absolute;
        left:0;
        bottom: -6px;
        transition: 0.5s;
 }

         ul li a:hover::after{
            width: 100%;
        }

h1{
    color:white;
    padding: 0 100px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-size: 35px;
}
h1 span{
    font-size: 35px;
    color:rgb(243, 8, 8);
}
#icon{
    color:white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    margin-right: 800px;
   margin-top: -80px;
   
   
}


